<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/css/stylemasc.css">
    <title>Buy Your Pet</title>

</head>

<body>
    <header>
        <nav class="logo">
            <img src="../../public/icons/strong-black-labrador-dog-holding-600nw-2215291219-removebg-preview.webp"
                alt="Gym-dog"><span>Pets</span>
        </nav>
        <nav class="nav_bar">
            <a href="../../index.html">Return to portfolio</a>
        </nav>
    </header>
    <main>
        <div class="welcome">
            <h1>Welcome to Our Pet Store</h1>
            <p>Find your perfect companion here!</p>
        </div>
        <section id="pets">
            <div class="dog">
                <a href="../../public/images/dog.webp" target="_blank"> <img src="../../public/images/dog.webp"
                        alt="Dog"> </a>
                <h2>Labrador Retriever</h2>
                <p>Friendly and loyal companion!</p>
            </div>
            <div class="cat">
                <a href="../../public/images/cat.webp" target="_blank"> <img src="../../public/images/cat.webp"
                        alt="Cat"> </a>
                <h2>Siamese Cat</h2>
                <p>Playful and affectionate companion!</p>
            </div>
            <div class="bird">
                <a href="../../public/images/bird.webp" target="_blank"> <img src="../../public/images/bird.webp"
                        alt="Bird"></a>
                <h2>Parrot</h2>
                <p>Vocal and intelligent companion!</p>
            </div>

        </section>

        <section id="contact">
            <div class="contact-us">
                <h2>Contact Us</h2>
                <p>Have questions about our pets? Reach out to us!</p>
            </div>
            <div class="contact-form">
                <form class="contact-form" action="" method="POST">
                    <input type="text" id="name" name="name" required placeholder="Your name">
                    <input type="email" id="email" name="email" required placeholder="Your email">
                    <textarea id="message" name="message" required placeholder="Your message"></textarea>
                    <button type="button">Send Message</button>
                </form>
            </div>
        </section>
    </main>

</body>

</html>