<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Global.css">
    <link rel="stylesheet" href="../css/pets/header.css">
    <link rel="stylesheet" href="../css/pets/main.css">
    <link rel="stylesheet" href="../css/pets/footer.css">
    <link rel="stylesheet" href="../css/pets/Responsives.css">
    <title>Mundo Mascotas</title>
    
</head>
<body>

<header>
    <h1>🐾 Mundo Mascotas</h1>
    <nav>
        <a href="#inicio">Inicio</a>
        <a href="#mascotas">Mascotas</a>
        <a href="#contacta-nos">Contacto</a>
        <a href="../../index.html">Portafolio</a>
    </nav>
</header>

<main>

<section class="hero" id="inicio">
    <h2>Bienvenido a Mundo Mascotas</h2>
    <p>Encuentra información y cuidados para tus animales favoritos</p>
</section>

<section class="grid-section" id="mascotas">
    <h2>Galería de Mascotas</h2>
    <div class="grid-container">
        <div class="grid-item"><img src="../../public/images/dog.webp" alt=""></div>
        <div class="grid-item"><img src="../../public/images/cat.webp" alt=""></div>
        <div class="grid-item"><img src="../../public/images/parrot.webp" alt=""></div>
        <div class="grid-item"><img src="../../public/images/penguin.webp" alt=""></div>
        <div class="grid-item"><img src="../../public/images/hamster.webp" alt=""></div>
        <div class="grid-item"><img src="../../public/images/peces.webp" alt=""></div>
    </div>
</section>
<section class="contacta-nos" id="contacta-nos">
    <h2>Contacta con Nosotros</h2>
    <p>¿Tienes preguntas o necesitas ayuda? ¡Contáctanos!</p>
    <form action="#" method="post">
        <input type="text" name="name" placeholder="Tu Nombre" required>
        <input type="email" name="email" placeholder="Tu Correo Electrónico" required>
        <textarea name="message" placeholder="Tu Mensaje" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>

</main>

<footer>
    <p>© 2026 Mundo Mascotas</p>
</footer>

</body>
</html>