header{
    background-color:transparent;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1%;
}
.logo{
    font-size: 1.5rem;
    font-weight: 500;
}
span{
    color: #3f38b9;
    font-weight: 500;
    border-bottom: 2px solid #3f38b9;
}
.links{
    gap: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav-bar a{
    color: rgb(161, 158, 158);
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.nav-bar a:hover{
    color:var(--fontColor);
    border-bottom: 3px solid white;
}